{% extends "base.html.twig" %}

{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Restaurant</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#">
							Main Page
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							Order History
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							LogOut
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block main %}
	<div style="height:94vh">
			{% for message in app.flashes('success') %}
				<div class="d-flex align-items-start justify-content-start"></div>
				<div class="alert alert-success w-100 text-center">
					{{ message }}
				</div>
		{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="d-flex align-items-start justify-content-start"></div>
				<div class="alert alert-danger w-100 text-center">
					{{ message }}
				</div>
		{% endfor %}	

	<div class="d-flex justify-content-center align-items-center flex-column" style="height:91%">
		<div class="d-flex align-items-start w-50 pb-2">
			<button type="button" class="btn btn-success py-2 px-3">Add meal</button>
			<button type="button" class="btn btn-success py-2 px-3 ms-2">Add user</button>
		</div>
		<div class="d-flex align-items-start w-50">
			<p class="text-white h3">Meals:</p>
		</div>
		<table class="table table-dark w-50">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">
						Small Price</th>
					<th scope="col">
						Medium Price</th>
					<th scope="col">
						Large Price</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for meal in meals %}
						<th scope="col">{{meal.getid()}}</th>
						<th scope="col">{{meal.getMEALNAME()}}</th>
						<th scope="col">{{meal.getSMALLPRICE()}}</th>
						<th scope="col">{{meal.getMEDIUMPRICE()}}</th>
						<th scope="col">{{meal.getLARGEPRICE()}}</th>
						<td>
							<a href="{{path('edit_meal',{'id':meal.getid()})}}"  class="link-light">Edit</a>
						</td>
						<td>
							<a href="#" class="link-light">Delete</a>
						</td>
				</tr>
					{% endfor %}
				
			</tbody>
		</table>
	</div>
{% endblock %}
